/* Write your CSS here */
.card {
  width: 100%;
}
.project-img {
  width: 100%;
}
.title-and-duration-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.course-title {
  font-size: 25px;
  color: #171f46;
  font-weight: bold;
  margin: 0;
}
.duration-container {
  display: flex;
  align-items: center;
}
.duration-time {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #0967d2;
  font-weight: bold;
}
